<!-- @dsCard group="Content blocks" height=200 -->
<!doctype html>
<html data-theme="blue" lang="en-NZ">
<head>
<!-- Added by the skill packager so this file renders standalone: -->
<link rel="stylesheet" href="../tokens/tokens.css">
<link rel="stylesheet" href="../css/bundle.css">

<meta charset="utf-8">
<title>RelatedLinks</title>
<style>
html, body { background: #fff; }

</style>
</head>
<body class="page page--blockcontentpage">
<main class="main base-container block-content-page mjb"><div class="inner inner--no-sidebar"><div class="element moj__blocks__blockrelated" id="732"><div class="block-related block-related--linksfirst" data-glossary-ignore=""><div class="block-related__inner"><div class="block-related__resources"><h3 class="h5">Related links and resources</h3><ul class="block-related__related-resources"><li><a class="featured-link featured-link--file featured-link--file-" href=""> When someone dies suddenly (PDF) </a></li></ul></div></div></div></div></div></main>
</body>
</html>
